//.caret {
//  display: inline-block;
//  &:after {
//    display: block;
//    content: '\25BC';
//    position: relative;
////    top: 2px;
//    speak: none;
//    -webkit-transform: scaleY(0.6) scaleX(1);
//    transform: scaleY(0.6) scaleX(1);
//    line-height: 100%;
//  }
//  &.open:after {
//    content: '\25B2';
////    top: 1px;
//  }
//}
